<div class="d-flex align-items-center p-3">
  <span class="page-title">マイページ</span>
</div>

<div class="d-flex align-items-center mt-4">
  <div class="col-2"><strong>登録情報</strong></div>
  <%= link_to "編集する", update_customer_path, class: "btn btn-sm btn-success" %>
</div>

<div class="col mt-3">
  <table class="table">
    <tbody>
      <tr>
        <td>氏名</td>
        <td><%= @customer.last_name %> <%= @customer.first_name %></td>
      </tr>
      <tr>
        <td>フリガナ</td>
        <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
      </tr>
      <tr>
        <td>郵便番号</td>
        <td><%= @customer.postal_display %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <td>電話番号</td>
        <td><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @customer.email %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="d-flex align-items-center mt-3">
  <div class="col-2"><strong>配送先</strong></div>
  <%= link_to "一覧を見る", address_index_path, class: "btn btn-sm btn-primary" %>
</div>

<div class="d-flex align-items-center mt-3">
  <div class="col-2"><strong>注文履歴</strong></div>
  <%= link_to "一覧を見る", orders_path, class: "btn btn-sm btn-primary" %>
</div>
