<%= form_with model: [:admin, item], local: true do |f| %>
  <div class="field mt-5">
    <%= f.label :image, "商品画像" %>
    <%= f.file_field :image, class: "col-8 p-0 form-control-file item_image", accept: 'image/*' %>
  </div>
  <div class="field mt-2">
    <%= f.label :name, "商品名" %>
    <%= f.text_field :name, autofocus: true, autocomplete: true, class: "col-8 px-1" %>
  </div>
  <%= render 'admin/shared/error_message', object: f.object, attribute: :name %>

  <div class="field mt-2">
    <%= f.label :introduction, "商品説明" %>
    <%= f.text_area :introduction, autofocus: true, class: "col-8 px-1" %>
  </div>
  <%= render 'admin/shared/error_message', object: f.object, attribute: :introduction %>

  <div class="field mt-2">
    <%= f.label :genre_id, "ジャンル" %>
    <div class="col-8 px-0">
      <%= f.collection_select :genre_id, genres.all, :id, :name, include_blank: "--ジャンルの選択--", class: "w-100" %>
    </div>
  </div>
  <%= render 'admin/shared/error_message', object: f.object, attribute: :genre_id %>

  <div class="field mt-2">
    <%= f.label :price, "税抜価格" %>
    <div class="col-8 p-0">
      <%= f.text_field :price, autofocus: true, class: "col-10 px-1" %>
      <span>円</span>
    </div>
  </div>
  <%= render 'admin/shared/error_message', object: f.object, attribute: :price %>

  <div class="field mt-2">
    <div>販売ステータス</div>

    <div class="row col-8 p-0">
      <div class="col p-0">
        <%= f.radio_button :is_active, :true, checked: true %>
        <%= f.label :is_active, "販売中", value: :true, class: "mr-3" %>
        <%= f.radio_button :is_active, :false %>
        <%= f.label :is_active, "販売停止中", value: :false %>
      </div>
    </div>
  </div>

  <div class="actions mt-5">
    <%= f.submit class: 'btn btn-sm btn-success' %>
  </div>
<% end %>