<h1>public/homes#<%= action_name %></h1>

<div class="d-flex align-items-center p-3">
  <span class="page-title">配送先編集</span>
</div>

<div class="col-8 mx-auto">
  <%= form_with do |f| %>
    <div class="field mt-1">
      <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
      <div class="col-7 px-0">
        <%= f.text_field :postal_code, autocomplete: true, class: "col-5" %>
      </div>
    </div>
    <div class="field mt-2">
      <%= f.label :address, "住所" %>
      <div class="col-7 px-0">
        <%= f.text_field :address, autocomplete: true, class: "col w-100" %>
      </div>
    </div>
    <div class="field mt-2">
      <%= f.label :name, "宛名" %>
      <div class="col-7 px-0">
        <%= f.text_field :name, autocomplete: true, class: "col-5" %>
      </div>
    </div>
    <div class="mt-4 d-flex justify-content-center">
      <%= f.submit "変更内容を保存", class: "btn btn-sm btn-success" %>
    </div>
  <% end %>
</div>

<p>Find me in app/views/public/homes/<%= action_name %>.html.erb</p>