<h1>public/homes#top</h1>

<div class="d-flex align-items-center p-3">
  <span class='bg-light px-5 h3'>LINK</span>
</div>

<ul>
  <li><%= link_to "public/top_page", public_top_page_path %></li>
  <li><%= link_to "public/about", public_about_path %></li>
  <li><%= link_to "public/guest_signup", public_guest_signup_path %></li>
  <li><%= link_to "public/guest_login", public_guest_login_path %></li>
  <li><%= link_to "public/items_index", public_items_index_path %></li>
  <li><%= link_to "public/item_show", public_item_show_path %></li>
  <li><%= link_to "public/cart", public_cart_path %></li>
  <li><%= link_to "public/order_info", public_order_info_path %></li>
  <li><%= link_to "public/order_check", public_order_check_path %></li>
  <li><%= link_to "public/order_checked", public_order_checked_path %></li>
  <li><%= link_to "public/user_show", public_user_show_path %></li>
  <li><%= link_to "public/user_unsubscribe", public_user_unsubscribe_path %></li>
  <li><%= link_to "public/user_edit", public_user_edit_path %></li>
  <li><%= link_to "public/shipping_addresses_index", public_shipping_addresses_index_path %></li>
  <li><%= link_to "public/shipping_address_edit", public_shipping_address_edit_path %></li>
  <li><%= link_to "public/orders_index", public_orders_index_path %></li>
  <li><%= link_to "public/order_show", public_order_show_path %></li>
</ul>


<p>Find me in app/views/public/homes/top.html.erb</p>