<h1>admin/homes#<%= action_name %></h1>

<div class="d-flex align-items-center p-3">
  <span class="page-title"><%= @customer.last_name %> <%= @customer.first_name %>さんの会員詳細</span>
</div>

<div class="col-md-12 mx-auto">
  <table class='table mb-0'>
    <tbody>
      <tr>
        <td>会員ID</td>
        <td><%= @customer.id %></td>
      </tr>
      <tr>
        <td>氏名</td>
        <td><%= @customer.last_name %> <%= @customer.first_name %></td>
      </tr>
      <tr>
        <td>フリガナ</td>
        <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
      </tr>
      <tr>
        <td>郵便番号</td>
        <td><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <td>電話番号</td>
        <td><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @customer.email %></td>
      </tr>
      <tr>
        <td>会員ステータス</td>
        <td>
          <% if @customer.is_active %>
            有効
          <% else %>
            退会
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-around mt-4">
    <%= link_to "編集する", root_path, class: "btn btn-sm btn-success" %>
    <%= link_to "注文一覧を見る", root_path, class: "btn btn-sm btn-primary" %>

  </div>
</div>

<p>Find me in app/views/admin/homes/<%= action_name %>.html.erb</p>