<%= form_with model: [:admin, genre], local: true, class: "mt-2" do |f| %>
  <div class="row px-3 d-flex align-items-center">
    <%= f.label :name, "ジャンル名", class: "col-3 p-0" %>
    <%= f.text_field :name, autocomplete: :off, class: "col-6 px-1" %>
    <%= f.submit class: "ml-2 btn btn-sm btn-success" %>
  </div>
  <%= render 'admin/shared/error_message', object: f.object, attribute: :name %>
<% end %>