<h1>public/homes#<%= action_name %></h1>

<div class="d-flex align-items-center p-3">
  <span class="page-title">注文履歴一覧</span>
</div>

<div class="col mt-3">
  <table class="table">
    <thed>
      <tr>
        <th class="col-1">注文日</th>
        <th class="col-2">配送先</th>
        <th class="col-2">注文商品</th>
        <th class="col-1">支払い金額</th>
        <th class="col-1">ステータス</th>
        <th class="col-1">注文詳細</th>
      </tr>
    </thed>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.created_at.strftime("%Y/%m/%d") %></td>
          <td>
            <div>〒<%= order.postal_code.slice(0..2) %>-<%= order.postal_code.slice(3..6) %></div>
            <div><%= order.address %></div>
            <div><%= order.name %></div>
          </td>
          <td>
            <% order.order_details.each do |order_detail| %>
              <p><%= order_detail.item.name %></p>
            <% end %>
          </td>
          <td><%= order.total_payment.to_s(:delimited) %>円</td>
          <td><%= order.status_i18n %></td>
          <td><%= link_to "詳細", order_path(order), class: "btn btn-sm btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<p>Find me in app/views/public/homes/<%= action_name %>.html.erb</p>